:root{
    ---primary-color: solid #0077B6;
    ---secondary-color: solid #00B4D8;
    ---accent1: solid #90E0EF;
    ---accent2: solid #CAF0F8;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'DM Serif Text', serif;
    font-weight: 400;
    font-style: italic;
}
text{
    font-family: 'Nunito', sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
a{
    text-decoration: none;
}
