:root{
    --default-border: 1px solid black;
    --padding: 10px;
    --centering: center;
    --text-color: rgb(0,204,225);
    --background: rgb(139, 90, 0);
}
nav {
    background-color: var(--background);
    padding: var(--padding);
}
nav a {
    color:var(--text-color);
    display: block;
    padding: var(--padding);
}
h1 {
    color: var(--text-color);
}
main img {
    width: 150px;
    height: auto;
    border: var(--default-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    background: var(--background);
}
p {
    padding: var(--padding);
    text-decoration-color: var(--text-color);
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: var(--default-border);
    background: #170b5c;
    color: var(--text-color);
    text-align: var(--centering);
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    border-top: dashed 2px white;
    text-align: var(--centering);
    position: absolute;
}